#floatFilter hr {
	background-color: #1b2939;
	border-style: solid none none;
	border-color: black;
	border-width: 1px 0 0;
	height: 2px;
}

#floatUtilities {
	padding: 10px;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

#compileStatus {
	display: inline;
	text-align: left;
	margin-left: 5px;
}

#compileStatus[error="false"] {
	color: green;
}

#compileStatus[error="true"] {
	color: red;
}

#compileError {
	font-family: Consolas;
	margin-top: 5px;
}

.float-github {
	margin-left: 10px;
	text-decoration: underline;
	font-family: 'Motiva Sans', sans-serif;
}

.float-btn {
	display: inline;
	text-align: left;
}