#floatFilter hr {
    background-color: #1b2939;
    border-style: solid none none;
    border-color: black;
    border-width: 1px 0 0;
    height: 2px;
}

#floatUtilities {
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

#floatMoney {
    padding: 12px 10px 12px 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.float-money-button {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: 2px white solid;
    color: white;
    font-family: 'Motiva Sans', Sans-serif, serif;
    font-size: 16px;
}

.float-money-button img {
    vertical-align: middle;
}

.easy-inspect {
    position: absolute;
    height: 74px;
    width: 74px;
    left: 0;
    top: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 74px;
    display: none;
    font-size: 20px;
}

.market_recent_listing_row:hover .easy-inspect {
    display: initial;
}

#pageSize {
    margin-left: 10px;
}

#compileStatus {
    display: inline;
    text-align: left;
    margin-left: 5px;
}

#compileStatus[error='false'] {
    color: green;
}

#compileStatus[error='true'] {
    color: red;
}

#compileError {
    font-family: Consolas;
    margin-top: 5px;
}

input[type='color'] {
    -webkit-appearance: none;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}

.float-github {
    margin-left: 10px;
    text-decoration: underline;
    font-family: 'Motiva Sans', sans-serif;
}

.float-stickers-container {
    float: right;
}

.float-div {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.float-model-frame {
    width: 100%;
    height: 500px;
    z-index: 999;
    border-width: 0;
    margin-top: 10px;
}

.float-screenshot-frame {
    width: 100%;
}

.float-tooltip {
    position: relative;
    display: inline-block;
}

.float-tooltip .tiptext {
    visibility: hidden;
    width: 200px;
    color: #ffffff;
    text-align: center;

    padding: 5px 0;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 5px;

    position: absolute;
    z-index: 1;
}

.float-tooltip:hover .tiptext {
    visibility: visible;
}

.float-shine {
    overflow: hidden;
}

/* Based on https://jsfiddle.net/AntonTrollback/nqQc7/ */
.float-shine:after {
    animation: shine 4s ease-in-out infinite;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0) 100%
    );
}

@keyframes shine{
    50% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

