.csfloat-stickers-container {
    float: right;
}

.csfloat-easy-inspect {
    position: absolute;
    height: 74px;
    width: 74px;
    left: 0;
    top: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 74px;
    display: none;
    font-size: 20px;
}

.market_recent_listing_row:hover .csfloat-easy-inspect {
    display: initial;
}

/* Powers animation for shining float boxes */
.csfloat-shine {
    overflow: hidden;
}

/* Based on https://jsfiddle.net/AntonTrollback/nqQc7/ */
.csfloat-shine:after {
    animation: csfloat-shine-frames 4s ease-in-out infinite;
    content: '';
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0) 100%
    );
}

@keyframes csfloat-shine-frames {
    50% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

.full-fade-border {
    border: 1px solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(90deg, #d9bba5 0%, #e5903b 33%, #db5977 66%, #6775e1 100%) !important;
}
